/* HomePage.css */
.homepage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-family: "Maname", serif;
    font-size: 3rem;
    color: #333;
  }
  
  p {
    font-family: "Playwrite GB S", cursive;
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  